<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>admin</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/style.css}" rel="stylesheet" />
    </head>
    <body>
        
            
				<br>
				<br>
                
<div class ="container">
		<div class = "row">
			<h1> Salary List</h1>
		</div>
		
		<br>
		<table class = "table table-striped table-bordered">
			<thead class = "table-light">
				<tr>
					<th> Admin UserName</th>
					<th> Date</th>
					<!--   <th> Employee ID </th>-->
					<th> Employee Updated Salary </th>
					
					
					
					
				</tr>
			</thead>
			
	<tbody>
				<tr th:each = "s: ${salaryLog}">
					<td th:text = "${s.FullName}"></td>
					<td th:text = "${s.date}"></td>
			<!-- 	<td th:text = "${s.emp_id}"></td>-->
					<td th:text = "${s.Annual_Salary}"></td>
					
						 
				</tr>
			</tbody> 
		
		</table>
		
	</div>
          
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="@{/js/scripts.js}"></script>
    </body>
</html>
